Repository open-telemetry/opentelemetry-java-contrib, pull requests merged in 2022-01, with the labels that each got.

#191 [Maven Extension] Add Tracer instrumentationVersion (ie `otel.library.version`)
  maven-extension/build.gradle.kts
  maven-extension/src/main/java/io/opentelemetry/maven/OpenTelemetrySdkService.java
Labels: comp:maven-extension

#192 [Maven Extension] Reduce the cardinality of mojo span names
  maven-extension/docs/images/jenkins-maven-execution-trace-jaeger.png
  maven-extension/docs/images/maven-execution-trace-jaeger.png
  maven-extension/src/main/java/io/opentelemetry/maven/OtelExecutionListener.java
Labels: comp:maven-extension

#190 jmx gatherer: Remove manual exporter flush
  jmx-metrics/README.md
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/AbstractIntegrationTest.java
  jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/GroovyRunner.java
  jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/JmxConfig.java
  jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/JmxMetrics.java
  jmx-metrics/src/test/java/io/opentelemetry/contrib/jmxmetrics/GroovyRunnerTest.java
  jmx-metrics/src/test/java/io/opentelemetry/contrib/jmxmetrics/JmxConfigTest.java
Labels: comp:jmx-metrics

#188 Activemq
  jmx-metrics/README.md
  jmx-metrics/docs/target-systems/activemq.md
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/target_systems/ActivemqIntegrationTest.java
  jmx-metrics/src/integrationTest/resources/activemq/Dockerfile
  jmx-metrics/src/integrationTest/resources/activemq/config/env
  jmx-metrics/src/integrationTest/resources/target-systems/activemq.properties
  jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/JmxConfig.java
  jmx-metrics/src/main/resources/target-systems/activemq.groovy
  jmx-metrics/src/test/java/io/opentelemetry/contrib/jmxmetrics/JmxConfigTest.java
Labels: comp:jmx-metrics

#204 Adds Solr metrics gathering to jmx-metrics
  jmx-metrics/README.md
  jmx-metrics/docs/target-systems/solr.md
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/target_systems/SolrIntegrationTest.java
  jmx-metrics/src/integrationTest/resources/target-systems/solr.properties
  jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/JmxConfig.java
  jmx-metrics/src/main/resources/target-systems/solr.groovy
  jmx-metrics/src/test/java/io/opentelemetry/contrib/jmxmetrics/JmxConfigTest.java
Labels: comp:jmx-metrics

#201 Split up GC Handlers, add support for Parallel
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/HandlerRegistry.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/Constants.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/container/ContainerConfigurationHandler.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/cpu/ContextSwitchRateHandler.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/cpu/LongLockHandler.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/cpu/OverallCPULoadHandler.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/memory/G1GarbageCollectionHandler.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/memory/G1HeapSummaryHandler.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/memory/GCHeapSummaryHandler.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/memory/ParallelHeapSummaryHandler.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/network/NetworkReadHandler.java
  jfr-streaming/src/main/java/io/opentelemetry/contrib/jfr/metrics/internal/network/NetworkWriteHandler.java
  jfr-streaming/src/test/java/io/opentelemetry/contrib/jfr/metrics/JfrCPUTest.java
Labels: comp:jfr-streaming

#210 Add Hadoop Monitoring
  jmx-metrics/README.md
  jmx-metrics/docs/target-systems/hadoop.md
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/target_systems/HadoopIntegrationTest.java
  jmx-metrics/src/integrationTest/resources/hadoop/hadoop-env.sh
  jmx-metrics/src/integrationTest/resources/hadoop/yarn-site.xml
  jmx-metrics/src/integrationTest/resources/target-systems/hadoop.properties
  jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/JmxConfig.java
  jmx-metrics/src/main/resources/target-systems/hadoop.groovy
  jmx-metrics/src/test/java/io/opentelemetry/contrib/jmxmetrics/JmxConfigTest.java
Labels: comp:jmx-metrics

#211 Add Hbase Support
  jmx-metrics/README.md
  jmx-metrics/docs/target-systems/hbase.md
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/target_systems/HbaseIntegrationTest.java
  jmx-metrics/src/integrationTest/resources/hbase/hbase-env.sh
  jmx-metrics/src/integrationTest/resources/target-systems/hbase.properties
  jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/JmxConfig.java
  jmx-metrics/src/main/resources/target-systems/hbase.groovy
  jmx-metrics/src/test/java/io/opentelemetry/contrib/jmxmetrics/JmxConfigTest.java
Labels: comp:jmx-metrics

#218 jmx metrics: Add test timeouts and mbean server status assertions
  jmx-metrics/src/test/java/io/opentelemetry/contrib/jmxmetrics/InstrumenterHelperTest.java
  jmx-metrics/src/test/java/io/opentelemetry/contrib/jmxmetrics/MBeanHelperTest.java
  jmx-metrics/src/test/java/io/opentelemetry/contrib/jmxmetrics/OtelHelperJmxTest.java
Labels: comp:jmx-metrics

#219 jmx-metrics: thoroughly wait for test containers
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/AbstractIntegrationTest.java
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/OtlpIntegrationTest.java
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/target_systems/CassandraIntegrationTest.java
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/target_systems/JvmTargetSystemIntegrationTest.java
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/target_systems/KafkaIntegrationTest.java
Labels: comp:jmx-metrics

#216 Update Kafka JMX Script
  jmx-metrics/docs/target-systems/kafka.md
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/AbstractIntegrationTest.java
  jmx-metrics/src/integrationTest/java/io/opentelemetry/contrib/jmxmetrics/target_systems/KafkaIntegrationTest.java
  jmx-metrics/src/main/resources/target-systems/kafka.groovy
Labels: comp:jmx-metrics
